/*
======================================================================================

    @ main.css
    @ STYLESHEET
    @ CSS by Lucas LAPLANCHE - https://lucaslaplanche.fr/

======================================================================================
*/
/* FONTS */
@font-face {
  font-family: "TF2";
  src: url("../_fonts/TF2.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TF2Build";
  src: url("../_fonts/TF2Build.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TF2Professor";
  src: url("../_fonts/TF2Professor.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TF2Secondary";
  src: url("../_fonts/TF2Secondary.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* DEFAULTS */
* {
  font-family: Ebrima, Helvetica, Arial, sans-serif;
  position: relative;
}
*:focus {
  outline-style: none;
}

html {
  scroll-behavior: smooth;
}

html, body {
  padding: 0;
  margin: 0;
}

/** a{text-decoration:none;color:inherit;cursor:pointer;}**/
p {
  font-size: 1.1em;
}

ol, ul {
  list-style: disclosure-closed;
}

strong {
  color: #46b2c0;
}

a {
  text-decoration: none;
}

b {
  color: #5abccc;
}

.clear {
  clear: both;
}

.clear-right {
  clear: right;
}

.clear-left {
  clear: left;
}

/* :: pseudo elements */
/* KEYFRAMES */
/********** PACK **********/
/* TRANSITIONS */
/* USER-SELECT */
a, img {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;
}

/* FLEX */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

/********* NAVIGATION BAR *************/
nav {
  margin: 0 auto;
  width: 100%;
  height: 70px;
  background: #2a4a5e;
  position: fixed;
  z-index: 999;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3803921569);
  transition: 0.4s;
}
nav ul {
  list-style: none;
}
nav .nav-logo {
  background-color: #1d3851;
}
nav .nav-logo a {
  width: 80px;
  height: 70px;
}
nav .nav-logo img {
  width: 60px;
  padding: 5px 10px;
}
nav .nav-links {
  margin-left: -435px;
}
nav .nav-links li {
  margin: 0 35px;
  text-transform: uppercase;
}
nav .nav-links li::before {
  width: 80px;
  height: 3px;
  position: absolute;
  top: 43px;
  left: 50%;
  right: initial;
  content: "";
  background: #9cd1ff;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  transition: 0.3s;
}
nav .nav-links li:hover::before {
  opacity: 1;
}
nav .nav-links .link-sban {
  font-family: TF2Build !important;
}
nav .nav-links .link-sban:hover::before {
  background: #ff9c9c;
  opacity: 1;
}
nav .nav-links li a {
  color: #fff;
  font-weight: bold;
  font-family: TF2Build;
}
nav .nav-socials li a {
  color: #fff;
  font-weight: bold;
}
nav .nav-links .link-sban img {
  width: 20px;
  top: 4px;
}
nav .nav-socials {
  margin: 0 30px;
}
nav .nav-socials li {
  margin: 0 5px;
}
nav .nav-socials li .nav-twitter {
  background: #111;
  padding: 15px 35px;
  border-radius: 7px;
  font-size: 1.1em;
  transition: 0.3s;
}
nav .nav-socials li .nav-twitter:hover {
  background: #464646;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
nav .nav-socials li .nav-discord {
  background: #5c87b5;
  padding: 15px 35px;
  border-radius: 7px;
  font-size: 1.1em;
  transition: 0.3s;
}
nav .nav-socials li .nav-discord:hover {
  background: #81b5ec;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.bbq-overlay {
  position: fixed;
  top: 25px;
  left: 15px;
  right: 15px;
  z-index: 990;
  min-height: 50px;
  background-color: gold;
  color: #000;
  margin: 0 auto;
  padding: 0 32px;
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.3s;
}

nav:hover + .bbq-overlay, .bbq-overlay:hover {
  top: 75px;
}

.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

/********* HEADER ***********/
header {
  width: 100%;
  z-index: 10;
  height: 365px;
}
header::before {
  content: "";
  position: absolute;
  background-color: #151a26;
  width: 100%;
  height: 100px;
  box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero {
  width: 1250px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.hero .logo-title img {
  width: 120px;
  margin: 0 10px;
  display: block;
}
.hero .logo-title h1 {
  font-family: TF2Secondary;
  font-size: 2.3em;
  /**text-shadow: -2px -2px 0 #373737, 2px -2px 0 #373737, -2px 2px 0 #373737, 2px 2px 0 #373737;**/
  text-shadow: 7px 7px 6px rgba(0, 0, 0, 0.5882352941);
  text-transform: uppercase;
  text-align: left;
  color: #fff;
  margin: 0;
}
.hero .logo-title span.tf {
  font-size: 1.5em;
  line-height: 0.9em;
  font-family: TF2Build;
}
.hero .logo-title h2 {
  font-family: TF2Secondary;
  font-size: 1.4em;
  color: #fff;
  text-align: center;
  margin: 0 auto 20px auto;
}
.hero .logo-title #hero-cta {
  width: 380px;
  padding: 14px 24px;
  font-family: TF2Build;
  color: #353535;
  background: linear-gradient(0deg, rgb(199, 186, 159) 35%, rgb(255, 249, 235) 100%);
  border-radius: 9px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3em;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.38);
  height: 35px;
  margin: unset;
}
.hero .logo-title #hero-cta:hover {
  color: #ECE3CB;
  background: linear-gradient(180deg, #9D4F3F, #70392D, #512A20) padding-box, linear-gradient(180deg, #DA9C77, #AD5444 10%, #572D22 90%, #2C1813 100%) border-box;
}
.hero .logo-title #hero-cta span.cta-join {
  font-family: TF2Build;
}

.news_home {
  background-color: #1c1a19;
  border-radius: 3px;
  margin: 15px;
  padding: 15px 0;
  box-shadow: 1px 1px 2px #000;
}
.news_home .container {
  padding: 5px 20px 15px 20px;
}
.news_home .container h1 {
  margin: 0;
  font-size: 1.5em;
  font-family: TF2Build;
}
.news_home .container h1 .fa-rss {
  margin-right: 10px;
}
.news_home .container h1 a {
  font-family: TF2Secondary;
  color: #fff;
  text-decoration: underline;
}
.news_home .news-list {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  flex-direction: column;
  box-sizing: border-box;
}
.news_home .news-list a {
  margin: 4px 0;
  background: linear-gradient(0deg, rgb(199, 186, 159) 35%, rgb(255, 249, 235) 100%);
  border-radius: 7px;
}
.news_home .news-list .news {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  overflow: hidden;
}
.news_home .news-list .news:hover > .news-img {
  filter: brightness(0.8);
}
.news_home .news-list .news p.date-news {
  font-size: 1em;
  font-family: TF2Secondary;
  margin: 0 10px;
  color: #1c1a19;
}
.news_home .news-list .news p.titre-news {
  font-family: TF2Secondary;
  font-weight: bold;
  font-size: 1.2em;
  color: #1c1a19;
  margin: 0 10px;
}
.news_home .news-list .news .news-img {
  width: 85px;
  filter: brightness(0.3);
  transition: 0.3s;
}

.mod {
  border-left: 8px solid #315e31;
}

.commu {
  border-left: 8px solid #4a779f;
}

.offi {
  border-left: 8px solid orange;
}

.news_home .news-all {
  font-family: TF2Secondary;
  display: inherit;
  color: #fff;
  background: #00c3ff;
  padding: 16px 0;
  border-radius: 11px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3803921569);
  transition: 0.4s;
}
.news_home .news-all:hover {
  background: #0082aa;
  transform: scale(0.99);
}

.header_background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.8;
}
.header_background::before {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(6, 14, 23, 0.7882352941));
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#box-stream {
  background: #1c1a19;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #000;
  min-height: 200px;
  padding-top: 10px;
  margin: -60px 15px 0 15px;
}
#box-stream::before {
  content: "";
  background-image: url("../_img/Scout_Director.webp");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -130px;
  left: 10px;
  width: 360px;
  height: 360px;
  z-index: -1;
}
#box-stream h1 {
  margin: 5px auto 10px auto;
  text-align: center;
  font-size: 1.5em;
  font-family: TF2Build;
}
#box-stream h1 .fa-tv {
  margin-right: 10px;
}
#box-stream #streams {
  padding-bottom: 10px;
  text-align: center;
  min-height: 100px;
}
#box-stream #streams .tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
#box-stream #streams .tabs .tab-button {
  width: unset;
  padding: 7px 10px;
  font-family: TF2Build;
  color: #353535;
  background: linear-gradient(0deg, rgb(199, 186, 159) 35%, rgb(255, 249, 235) 100%);
  border-radius: 4px;
  margin: 0 auto;
  text-align: center;
  font-size: 0.9em;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.38);
  margin: 5px 10px;
  cursor: pointer;
}
#box-stream #streams .tabs .tab-button:hover {
  color: #ECE3CB;
  background: linear-gradient(180deg, #9D4F3F, #70392D, #512A20) padding-box, linear-gradient(180deg, #DA9C77, #AD5444 10%, #572D22 90%, #2C1813 100%) border-box;
}
#box-stream #streams .tabs .tab-button.active {
  background: #fff;
  color: #000;
  border-bottom: 2px solid #37b4ff;
}
#box-stream #streams .stream-tab {
  display: none;
}
#box-stream #streams .stream-tab.active {
  display: block;
}
#box-stream #streams #streams-all, #box-stream #streams #streams-fr, #box-stream #streams #streams-yt {
  max-height: 230px;
  overflow-y: scroll;
  padding: 0 8px;
}
#box-stream #streams #streams-all .loading, #box-stream #streams #streams-fr .loading, #box-stream #streams #streams-yt .loading {
  width: 30px;
  height: 30px;
  margin: 10px auto;
}
#box-stream #streams #streams-all .stream_line, #box-stream #streams #streams-fr .stream_line, #box-stream #streams #streams-yt .stream_line {
  width: 100%;
  height: 50px;
  font-size: 0.7em;
  text-align: left;
  padding: 6px 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  margin: 3px 0;
}
#box-stream #streams #streams-all .stream_line:hover, #box-stream #streams #streams-fr .stream_line:hover, #box-stream #streams #streams-yt .stream_line:hover {
  background-color: #444;
}
#box-stream #streams #streams-all .stream_line .stream-link, #box-stream #streams #streams-fr .stream_line .stream-link, #box-stream #streams #streams-yt .stream_line .stream-link {
  width: 100%;
}
#box-stream #streams #streams-all .stream_line .stream-link .stream-info, #box-stream #streams #streams-fr .stream_line .stream-link .stream-info, #box-stream #streams #streams-yt .stream_line .stream-link .stream-info {
  font-family: TF2Secondary;
  text-overflow: ellipsis;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  width: 95%;
  color: #fff;
  font-size: 1.2em;
}
#box-stream #streams #streams-all .stream_line .stream-link .stream-info .stream-thumb, #box-stream #streams #streams-fr .stream_line .stream-link .stream-info .stream-thumb, #box-stream #streams #streams-yt .stream_line .stream-link .stream-info .stream-thumb {
  width: 75px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}
#box-stream #streams #streams-all .stream_line .stream-link .stream-info .streamer-name, #box-stream #streams #streams-fr .stream_line .stream-link .stream-info .streamer-name, #box-stream #streams #streams-yt .stream_line .stream-link .stream-info .streamer-name {
  font-family: TF2Build;
  margin-right: 5px;
  color: #fff;
}
#box-stream #streams #streams-all .stream_line .stream-link .stream-info .stream-title, #box-stream #streams #streams-fr .stream_line .stream-link .stream-info .stream-title, #box-stream #streams #streams-yt .stream_line .stream-link .stream-info .stream-title {
  font-family: TF2Secondary;
  font-size: 0.9em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#box-stream #streams #streams-all .stream_line .stream-link .viewercount, #box-stream #streams #streams-fr .stream_line .stream-link .viewercount, #box-stream #streams #streams-yt .stream_line .stream-link .viewercount {
  float: right;
  color: #fff;
  font-family: TF2Build;
  font-size: 1.5em;
  position: absolute;
  right: 0;
}

.no-stream {
  font-family: TF2Secondary;
  font-size: 1.1em;
  text-align: center;
  color: #fff;
}
.no-stream button {
  font-family: TF2Build;
  margin: 10px auto;
}

#side-links {
  background: #1c1a19;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #000;
  min-height: 200px;
  padding: 10px;
  margin: 20px 15px 0 15px;
}
#side-links h2 {
  margin: 5px auto 25px auto;
  text-align: center;
  font-size: 1.5em;
  font-family: TF2Build;
}
#side-links hr {
  border: none;
  background: #bbb;
  height: 2px;
  margin: 35px auto 15px auto;
}
#side-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#side-links ul li a {
  width: unset;
  padding: 12px 20px;
  font-family: TF2Build;
  color: #353535;
  background: linear-gradient(0deg, rgb(199, 186, 159) 35%, rgb(255, 249, 235) 100%);
  border-radius: 8px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3em;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.38);
  display: block;
  box-sizing: border-box;
  margin: 10px 20px;
}
#side-links ul li a:hover {
  color: #ECE3CB;
  background: linear-gradient(180deg, #9D4F3F, #70392D, #512A20) padding-box, linear-gradient(180deg, #DA9C77, #AD5444 10%, #572D22 90%, #2C1813 100%) border-box;
}

#side-social-links {
  background: #1c1a19;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #000;
  min-height: 200px;
  padding: 10px;
  margin: 20px 15px 0 15px;
}
#side-social-links h2 {
  margin: 5px auto 25px auto;
  text-align: center;
  font-size: 1.5em;
  font-family: TF2Build;
}
#side-social-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#side-social-links ul li a {
  width: unset;
  padding: 12px 20px;
  font-family: TF2Build;
  color: #353535;
  background: linear-gradient(0deg, rgb(199, 186, 159) 35%, rgb(255, 249, 235) 100%);
  border-radius: 8px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3em;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.38);
  display: block;
  box-sizing: border-box;
  margin: 10px 20px;
}
#side-social-links ul li a:hover {
  color: #ECE3CB;
  background: linear-gradient(180deg, #9D4F3F, #70392D, #512A20) padding-box, linear-gradient(180deg, #DA9C77, #AD5444 10%, #572D22 90%, #2C1813 100%) border-box;
}

/****** PRESENTATION *******/
#presentation {
  width: 100%;
  min-height: 650px;
  padding: 32px 0;
  box-sizing: border-box;
  overflow: hidden;
}
#presentation::before {
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: -165px;
  left: -260px;
  right: initial;
  content: "";
  background-image: url("../_img/favicon2.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1;
  z-index: -1;
}
#presentation .container {
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}
#presentation h2 {
  font-family: TF2Secondary;
  margin: 0;
  color: #7ef9ff;
  font-size: 3em;
}
#presentation .text-pres {
  width: 750px;
}
#presentation .text-pres p {
  text-align: justify;
}
#presentation .text-pres li {
  margin: 5px 0;
}
#presentation .img-pres {
  padding: 10px;
}
#presentation .img-pres img {
  width: 630px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3803921569);
  margin: 10px;
}
#presentation .pres-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
#presentation .pres-bg img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
#presentation .pres-bg::before {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(10, 29, 51, 0.7882352941));
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

/** #presentation .text-pres h3 {

} **/
/** #presentation .img-pres iframe {

} **/
/****** SERVEURS *******/
#serveurs {
  box-sizing: border-box;
  z-index: 10;
  background-color: #1c1a19;
  border-radius: 3px;
  margin: 15px;
  box-shadow: 1px 1px 2px #000;
  padding: 5px 20px;
}
#serveurs .container {
  flex-direction: column;
}
#serveurs .container h1 {
  font-family: TF2Build;
  margin-bottom: 20px;
  font-size: 1.5em;
}
#serveurs .container h1 .fa-server {
  margin-right: 10px;
}
#serveurs #reconntf-servers .server,
#serveurs #fff-servers .server {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: space-between;
  height: 50px;
}

#reconntf-servers,
#fff-servers {
  width: 100%;
  margin-bottom: 10px;
}
#reconntf-servers h2,
#fff-servers h2 {
  font-family: TF2Secondary;
  font-size: 1.2em;
  text-align: left;
  color: #7ef9ff;
  margin: 5px 0;
}
#reconntf-servers h2 a,
#fff-servers h2 a {
  color: #fff;
  font-size: 0.8em;
  text-decoration: underline;
}
#reconntf-servers h2 a img,
#fff-servers h2 a img {
  width: 20px;
  vertical-align: middle;
}

.wrap-holiday {
  border-left: 8px solid gold;
}

.wrap-reconntf {
  border-left: 8px solid #6b8dc4;
}

.wrap-fff {
  border-left: 8px solid #c4996b;
}

#holiday-srv h3::before {
  width: 70px;
  height: 70px;
  position: absolute;
  top: -33px;
  left: -50px;
  right: initial;
  content: "";
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../_img/palmtree.png");
}

#serveurs .server .server-title {
  justify-content: space-between;
  width: 365px;
  padding: 0 20px;
}
#serveurs .server .server-title h3 {
  font-family: TF2Build;
  font-size: 1em;
}
#serveurs .server .server-title p {
  font-size: 0.8em;
  font-family: TF2Secondary;
}
#serveurs .server .server-connect {
  text-align: center;
  background: rgba(0, 0, 0, 0);
  transition: 0.3s;
  flex-direction: row-reverse;
}
#serveurs .server .holiday:hover {
  background: rgba(161, 164, 62, 0.1294117647);
}
#serveurs .server .vanilla:hover {
  background: rgba(62, 149, 164, 0.1294117647);
}
#serveurs .server .custom:hover {
  background: rgba(164, 115, 62, 0.1294117647);
}
#serveurs .server .server-connect {
  margin: 5px;
}
#serveurs .server .server-connect a {
  width: 110px;
  padding: 6px 0;
  font-family: TF2Build;
  color: #353535;
  background: linear-gradient(0deg, rgb(199, 186, 159) 35%, rgb(255, 249, 235) 100%);
  border-radius: 4px;
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.38);
}
#serveurs .server .server-connect a:hover {
  color: #ECE3CB;
  background: linear-gradient(180deg, #9D4F3F, #70392D, #512A20) padding-box, linear-gradient(180deg, #DA9C77, #AD5444 10%, #572D22 90%, #2C1813 100%) border-box;
}
#serveurs .server .server-connect a .fa-right-to-bracket {
  display: none;
}
#serveurs .server .server-connect a span {
  font-family: TF2Build;
}

#serveurs .serveurs-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  width: 100%;
  z-index: -1;
}
#serveurs .serveurs-bg .character {
  padding-left: 50%;
  position: absolute;
  width: 285px;
  bottom: 0;
  z-index: 1;
}
#serveurs .serveurs-bg .character img {
  width: 100%;
}

/******* PARTNERS *******/
#partners {
  align-items: flex-start;
  background-color: #1c1a19;
  border-radius: 3px;
  margin: 15px;
  padding: 20px 10px;
  box-shadow: 1px 1px 2px #000;
  box-sizing: border-box;
}
#partners #commu-partners h1 {
  font-family: TF2Build;
  font-size: 1.1em;
  margin: 0 auto 15px auto;
  text-align: center;
}
#partners #commu-partners .container {
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
#partners #commu-partners .commu-box {
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  box-sizing: border-box;
}
#partners #commu-partners .commu-box img {
  width: 70px;
  border-radius: 9999px;
  transition: 0.2s;
}
#partners #commu-partners .commu-box h3 {
  font-family: TF2Secondary;
  margin: 5px 0;
  color: #f6f4f2;
}
#partners #creator-partners h2 {
  font-family: TF2Build;
  font-size: 1.1em;
  margin: 0 auto 15px auto;
  text-align: center;
}
#partners #creator-partners .container {
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}
#partners #creator-partners .container .creator-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 1px 0;
  padding: 4px 5px;
  box-sizing: border-box;
}
#partners #creator-partners .container .creator-box img {
  width: 30px;
  border-radius: 9999px;
  transition: 0.2s;
}
#partners #creator-partners .container .creator-box h3 {
  font-family: TF2Secondary;
  margin: 5px;
  color: #f6f4f2;
}
#partners #creator-partners .container .creator-box p {
  font-family: TF2Secondary;
  color: #f6f4f2;
  font-size: 0.8em;
  margin: 0;
}
#partners #creator-partners .container .cta-partner {
  width: 230px;
  padding: 11px 15px;
  font-family: TF2Build;
  color: #353535;
  background: linear-gradient(0deg, rgb(199, 186, 159) 35%, rgb(255, 249, 235) 100%);
  border-radius: 6px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.38);
  background: linear-gradient(0deg, rgb(255, 253, 144) 35%, rgb(255, 249, 235) 100%);
  margin: 15px 0 0 0;
  cursor: pointer;
}
#partners #creator-partners .container .cta-partner:hover {
  background: #ffe19b;
}

/******* FOOTER **********/
footer {
  width: 100%;
  background: linear-gradient(rgb(79, 139, 213), rgba(98, 98, 98, 0.67));
  z-index: 100;
}
footer #copyright {
  background-color: #151a26;
  font-size: 0.9em;
  margin: 0 auto;
  width: 100%;
}
footer #copyright .foot-links {
  margin: 0 auto;
}
footer #copyright .foot-links a {
  color: #dbedff;
  margin: 0 10px;
}
footer #copyright .foot-links a:hover {
  text-decoration: underline;
}
footer #copyright .copyright {
  font-family: TF2Secondary;
}
footer #copyright .copyright a {
  color: #dbedff;
  font-family: TF2Secondary;
}
footer #copyright .copyright a:hover {
  text-decoration: underline;
}

/********** * **********/
html {
  width: 100%;
  height: 100%;
  background: #666;
  color: #f6f4f2;
  scroll-behavior: smooth;
}
html body {
  width: 100%;
  min-height: 100%;
  background-image: url(../_img/ac_spy.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}
html body main {
  width: 100%;
  min-height: 100%;
  background-color: #e9f1ff;
  background-image: url(../_img/gun_mettle_2560x1600.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0px -5px 30px rgba(0, 0, 0, 0.5607843137);
}
html body main #content {
  width: 1250px;
  margin: 0 auto;
  min-height: 100vh;
  z-index: 2;
  box-shadow: 0px 0px 30px black;
}
html body main #content #left-content {
  width: 850px;
  background-color: #262626;
}
html body main #content #right-content {
  width: 400px;
  background-color: #333335;
}/*# sourceMappingURL=main.css.map */