body {
    overflow: scroll !important;
}

.hero {
  z-index: 2;
}

/***** ARTICLE.PHP *****/

#news-head {
  width: 100%;
  margin-top: 20px;
  padding: 32px;
  box-sizing: border-box;
  background-color: #312e2c;

  .news-title {
    width: 80%;
    margin: 0 auto;

    h1 {
      font-size: 3em;
      font-family: TF2Build;
    }
    span {
      font-family: TF2Secondary;
    }
  }
}

#news-content {
  width: 100%;
  box-sizing: border-box;
  background-color: #1c1a19;

  .article {
    width: 850px;
    margin: 0 auto;
    color: #000;
    background: #f6f6f6;
    padding: 50px;
    box-shadow: 0 15px 15px 0 #000;

    p {
      text-align: justify;
    }

    blockquote::before {
      content: "";
      position: absolute;
      width: 4px;
      height: 100%;
      background-color: grey;
      top: 0;
      left: -20px;
    }

    strong {
      color: #000;
    }

    h2 {
      font-size: 2.3em;
    }

    h3 {
      font-size: 1.5em;
    }

    a {
      color: #6384c4;
      text-decoration: none;
    }
  }
}

@media all and (max-width: 950px) {
  #news-head .news-title {
    width: 100%;
  }

  #news-content .article {
    img {
      width: 100%;
      height: 100%;
    }

    width: 100%;
    box-sizing: border-box;
  }
}

@media all and (max-width: 540px) {
  #news-head .news-title {

    h1 {
      font-size: 2em;
    }
  }

  #news-content .article {
    padding: 15px;
  }
}

/***** INDEX.PHP *****/

#news {
  background-color: #1c1a19;
  border-radius: 3px;
  margin: 15px auto;
  padding: 20px 30px;
  box-shadow: 1px 1px 2px #000;
  box-sizing: border-box;

  .container {
    margin: 0 64px;

    h1 {
      font-family: TF2Build;
      font-size: 1.5em;
    }
  }

  .news-list {
    width: 1200px;
    background-color: #f6f6f6;
    padding: 25px;
    box-sizing: border-box;
    margin: 0 auto;

    .news {
      width: 90%;
      margin: 15px auto;

      img {
        width: 235px;
        margin: 10px;
      }

      .news-ctnt {
        .news-tease {
          font-size: .9em;
          color: #000;
        }

        span {
          color: #000;
        }
      }
    }
  }
}

.mod_b {
  border-left: 5px solid #315e31;
}

.commu_b {
  border-left: 5px solid #4a779f;
}

.offi_b {
  border-left: 5px solid orange;
}

@media all and (max-width: 1210px) {
  #news .news-list {
    width: 100%;
  }
}

@media all and (max-width: 750px) {
  #news {

    .news-list .news {
      margin: 30px auto;
      flex-direction: column-reverse;

      .news-ctnt {
        padding: 0 15px;
      }
    }
  }
}

@media all and (max-width: 420px) {
  #news .news-list {
    padding: 15px 0;
  }

  .news-tease {
    display: none;
  }
}
