/* FONTS */

@font-face {
  font-family: 'TF2';
  src: url('../_fonts/TF2.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TF2Build';
  src: url('../_fonts/TF2Build.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TF2Professor';
  src: url('../_fonts/TF2Professor.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TF2Secondary';
  src: url('../_fonts/TF2Secondary.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}