/******* FOOTER **********/

footer {
  width: 100%;
  background: linear-gradient(rgb(79, 139, 213), rgba(98, 98, 98, 0.67));
  overflow: hidden;
  position: absolute;
  bottom: 0;
  z-index: 100;

  #copyright {
    background-color: #2a4a5e;
    font-size: .9em;
    margin: 0 auto;
    width: 100%;
    padding: 10px 0 1px 0;

    .foot-links h4 {
      font-family: TF2Secondary;
      color: #bbe9ff;
      margin: 0 0 10px 0;
    }

    a {
      color: #bcddff;

      &:hover {
        text-decoration: underline;
      }
    }

    .foot-links {
      margin: 0 20px;
    }

    .copyright {
      margin: 10px 0;
      text-align: center;
    }
  }

  .foot-bg {
    @include absolute-0;
    @include rectangle(100%, 100%);
    opacity: .2;
    z-index: -1;
  }
}