/******* FOOTER **********/

footer {
  width: 100%;
  background: linear-gradient(rgb(79, 139, 213), rgba(98, 98, 98, 0.67));
  overflow: hidden;
  position: absolute;
  bottom: 0;
  z-index: 100;

  #copyright {
    background-color: #2a4a5e;
    font-size: .9em;
    margin: 0 auto;
    width: 100%;

    .foot-links {
      margin: 0 auto;

      a {
        color: #dbedff;
        margin: 0 10px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .copyright {
      font-family: TF2Secondary;
      a {
        color: #dbedff;
        font-family: TF2Secondary;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}