/********* HEADER ***********/

header {
  width: 100%;
}

.hero {
  width: 85%;
  margin: 0 auto;
  padding: 20px 0;

  .logo-title {
    img {
      width: 80px;
      margin: 0 10px;
      display: block;
    }

    h1 {
      font-family: TF2Secondary;
      font-size: 1.8em;
      text-shadow: -2px -2px 0 #373737, 2px -2px 0 #373737, -2px 2px 0 #373737, 2px 2px 0 #373737;
      text-transform: uppercase;
      text-align: left;
    }
    span {
      font-size: 1.5em;
      line-height: .9em;
      font-family: TF2Build;
    }

    h2 {
      font-family: TF2Secondary;
      font-size: 1.4em;
      color: #f0f0f0;
      text-align: center;
      margin: 0 auto 20px auto;
    }

    a {
      @include tf2button(230px, 12px, 30px, 1.3em, 11px);
      display: inherit;

      &:hover {
        background: #c7ba9f;
        transform: scale(0.99);
      }
    }
  }
}


.news_home {
  width: 100%;

  .container {
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;

    h1 {
      margin: 0;
      font-size: 1.2em;
      font-family: TF2Build;

      a {
        font-family: TF2Secondary;
        color: #fff;
        text-decoration: underline;
      }
    }
  }

  .news-list {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 35px;
    flex-direction: column;

    a {
      margin: 2px 0;
    }

    .news {
      @include rectangle(100%, 60px);
      background-color: rgba(0, 0, 0, 0.4);
      box-sizing: border-box;
      overflow: hidden;

      &:hover > .news-img {
        filter: brightness(0.8);
      }

      p.date-news {
        color: lightgray;
        font-size: .9em;
        margin: 0 10px;
      }

      p.titre-news {
        font-weight: bold;
        color: #e6e6e6;
        text-shadow: 3px 3px 3px #000;
      }

      .news-img {
        width: 110px;
        filter: brightness(0.3);
        transition: .3s;
      }
    }
  }
}

.mod {
  border-left: 8px solid #315e31;
}

.commu {
  border-left: 8px solid #4a779f;
}

.offi {
  border-left: 8px solid orange;
}

.news_home .news-all {
  font-family: TF2Secondary;
  display: inherit;
  color: #fff;
  background: #00c3ff;
  padding: 16px 0;
  border-radius: 11px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  box-shadow: 0px 0px 15px #00000061;
  transition: .4s;

  &:hover {
    background: #0082aa;
    transform: scale(0.99);
  }
}

.header_background {
  @include absolute-0;
  height: 100%;
  width: 100%;
  z-index: -1;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &::before {
    background: linear-gradient(rgba(0, 0, 0, 0.25), #060e17c9);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}