/********* HEADER ***********/

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.hero {
  width: 85%;
  margin: 0 auto;
  padding: 45px 0;

  .logo-title {
    img {
      width: 145px;
      margin: 0 20px;
      display: block;
    }

    h1 {
      font-family: TF2Secondary;
      font-size: 2.8em;
      text-shadow: -2px -2px 0 #373737, 2px -2px 0 #373737, -2px 2px 0 #373737, 2px 2px 0 #373737;
      text-transform: uppercase;
      text-align: left;
    }
    span {
      font-size: 1.5em;
      line-height: .9em;
      font-family: TF2Build;
    }

    h2 {
      font-family: TF2Secondary;
      font-size: 1.6em;
      color: #f0f0f0;
      text-align: center;
      margin: 0 auto 20px auto;
    }

    a {
      font-family: TF2Build;
      display: inherit;
      color: #353535;
      background: #c7ba9f;
      background: linear-gradient(0deg, rgba(199, 186, 159, 1) 35%, rgba(255, 249, 235, 1) 100%);
      padding: 16px 30px;
      border-radius: 11px;
      width: 300px;
      margin: 0 auto;
      text-align: center;
      font-size: 1.3em;
      font-weight: bold;
      box-shadow: 0px 0px 15px #00000061;
      transition: .4s;

      &:hover {
        background: #0082aa;
        transform: scale(0.99);
      }
    }
  }
}

.side-info {
  margin: 0 10px;
}

#box-stream {
  background: rgba(0, 0, 0, 0.35);
  width: 285px;
  min-height: 100px;
  padding-top: 5px;

  h1 {
    margin: 5px auto 10px auto;
    text-align: center;
    font-size: 1.4em;
  }

  #streams {
    background: #47699d;
    padding: 10px 0;

    #streams-all {
      max-height: 300px;
      overflow-y: scroll;
    }
  }
}

.no-stream {
  font-size: 0.9em;
  text-align: center;
  color: #fff;
}

#streams {
  text-align: center;
  min-height: 100px;
}

.loading {
  @include square(30px);
  margin: 10px auto;
}

.stream_line {
  @include rectangle(100%, 30px);
  font-size: 0.7em;
  text-align: left;
  padding: 6px 8px;
  box-sizing: border-box;
}

/**.stream-link {

}**/

.streamer-name {
  margin-right: 5px;
  color: #fff;
}

.stream-title {
  font-family: TF2Secondary;
  text-overflow: ellipsis;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  width: 240px;
  color: #fff;
}

.viewercount {
  float: right;
  color: #fff;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.tab-button {
  font-family: TF2Build;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background: #ddd;
  border-radius: 4px;

  &.active {
    background: #fff;
    color: #000;
    border-bottom: 2px solid #37b4ff;
  }
}

.stream-tab {
  display: none;

  &.active {
    display: block;
  }
}

.news_home {
  width: 100%;
  padding-bottom: 35px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);

  .container {
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;

    h2 {
      font-family: TF2Build;
      letter-spacing: 0.05em;
      color: #bbe9ff;
    }

    a {
      color: #5abccc;
    }
  }

  .news-list {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 35px;
    flex-wrap: wrap;

    a {
      margin: 5px 10px;
    }

    .news {
      @include rectangle(325px, 205px);
      background-color: rgba(0, 0, 0, 0.4);
      flex-direction: column;
      justify-content: flex-end;
      padding: 0 10px;
      margin: 10px auto;
      box-sizing: border-box;
      z-index: 10;

      &:hover > .news-img {
        filter: brightness(0.8);
      }

      span {
        color: lightgray;
        font-size: .9em;
      }

      p {
        font-weight: bold;
        color: #e6e6e6;
        text-shadow: 3px 3px 3px #000;
      }

      .news-img {
        @include absolute-0;
        width: 100%;
        z-index: -1;
        filter: brightness(0.3);
        border-radius: 10px;
        transition: .3s;
      }
    }
  }
}

.mod {
  border: 2px solid #315e31;
}

.commu {
  border: 2px solid #4a779f;
}

.offi {
  border: 2px solid orange;
}

.news_home .news-all {
  font-family: TF2Secondary;
  display: inherit;
  color: #fff;
  background: #00c3ff;
  padding: 16px 0;
  border-radius: 11px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  box-shadow: 0px 0px 15px #00000061;
  transition: .4s;

  &:hover {
    background: #0082aa;
    transform: scale(0.99);
  }
}

.header_background {
  @include absolute-0;
  height: 100%;
  width: 100%;
  z-index: -1;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &::before {
    background: linear-gradient(rgba(0, 0, 0, 0.25), #060e17c9);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}