@mixin square($size, $radius: 0) {
    width: $size;
    height: $size;

    @if $radius != 0 {
        border-radius: $radius;
    }
}

@mixin rectangle($size-w, $size-h, $radius: 0) {
    width: $size-w;
    height: $size-h;

    @if $radius != 0 {
        border-radius: $radius;
    }
}

@mixin absolute-0 {
    position: absolute;
    top: 0;
    left: 0;
}

@mixin absolute ($top, $left, $right){
    position: absolute;
    top: $top;
    left: $left;
    right: $right;
}

@mixin fixed ($top, $left, $right){
    position: fixed;
    top: $top;
    left: $left;
    right: $right;
}