@mixin square($size, $radius: 0) {
    width: $size;
    height: $size;

    @if $radius != 0 {
        border-radius: $radius;
    }
}

@mixin rectangle($size-w, $size-h, $radius: 0) {
    width: $size-w;
    height: $size-h;

    @if $radius != 0 {
        border-radius: $radius;
    }
}

@mixin absolute-0 {
    position: absolute;
    top: 0;
    left: 0;
}

@mixin absolute ($top, $left, $right){
    position: absolute;
    top: $top;
    left: $left;
    right: $right;
}

@mixin fixed ($top, $left, $right){
    position: fixed;
    top: $top;
    left: $left;
    right: $right;
}

@mixin tf2button ($width, $pd-vrt, $pd-hrz, $font-size, $brd-rad) {
    width: $width;
    padding: $pd-vrt $pd-hrz;
    font-family: TF2Build;
    color: #353535;
    background: linear-gradient(0deg, rgb(199, 186, 159) 35%, rgb(255, 249, 235) 100%);
    border-radius: $brd-rad;
    margin: 0 auto;
    text-align: center;
    font-size: $font-size;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.38);
}
