/******* PARTNERS *******/

#partners {
  align-items: flex-start;
  width: 90%;
  background-color: #1c1a19;
  border-radius: 3px;
  margin: 15px auto;
  padding: 20px 0;
  box-shadow: 1px 1px 2px #000;

  #commu-partners {

    h1 {
      font-family: TF2Build;
      font-size: 1.2em;
      margin: 0 auto 15px auto;
    }

    .container {
      text-align: center;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }

    a:hover img {
      filter: saturate(1);
    }

    .commu-box {
      background: rgba(0, 0, 0, 0.4);
      padding: 10px;
      box-sizing: border-box;

      img {
        width: 70px;
        border-radius: 9999px;
        filter: saturate(0);
        transition: .2s;
      }

      h3 {
        font-family: TF2Secondary;
        margin: 5px 0;
        color: #f6f4f2;
      }
    }
  }

  #creator-partners {
    h2 {
      font-family: TF2Build;
      font-size: 1.2em;
      margin: 0 auto 15px auto;
    }

    .container {
      flex-wrap: wrap;
      align-items: flex-start;
      flex-direction: column;

      .creator-box {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgba(0, 0, 0, 0.4);
      margin: 1px 0;
      padding: 4px 5px;

      img {
        width: 30px;
        border-radius: 9999px;
        filter: saturate(0);
        transition: .2s;
      }

      h3 {
        font-family: TF2Secondary;
        margin: 5px 0;
        color: #f6f4f2;
      }
      p {
        font-family: TF2Secondary;
        color: #f6f4f2;
        font-size: 0.8em;
        margin: 0;
      }
    }

    .cta-partner {
      @include tf2button(200px, 6px, 0, 1em, 4px);
      background: linear-gradient(0deg, rgb(255, 253, 144) 35%, rgb(255, 249, 235) 100%);
      margin: 15px 0 0 0;
      cursor: pointer;
      &:hover {
        background: #ffe19b;
      }
    }

    a:hover img {
      filter: saturate(1);
    }
    }
  }
}