/****** PRESENTATION *******/

#presentation {
  width: 100%;
  min-height: 650px;
  padding: 32px 0;
  box-sizing: border-box;
  overflow: hidden;

  &::before {
    @include square(1000px);
    @include absolute(-165px, -260px, initial);
    content: "";
    background-image: url('../_img/favicon-orange.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
  }

  .container {
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  h2 {
    font-family: TF2Secondary;
    margin: 0;
    color: $title-section-color;
    font-size: 3em;
  }

  .text-pres {
    width: 750px;

    p {
      text-align: justify;
    }

    li {
      margin: 5px 0;
    }
  }

  .img-pres {
    padding: 10px;

    img {
      width: 630px;
      box-shadow: 0px 0px 15px #00000061;
      margin: 10px;
    }
  }

  .pres-bg {
    @include absolute-0;
    height: 100%;
    width: 100%;
    z-index: -1;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    &::before {
      background: linear-gradient(rgba(0, 0, 0, 0.25), $presentation-gradient-color);
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }
}

/** #presentation .text-pres h3 {

} **/

/** #presentation .img-pres iframe {
    
} **/