/****** SERVEURS *******/

#serveurs {
  box-sizing: border-box;
  z-index: 10;
  background-color: #1c1a19;
  border-radius: 3px;
  margin: 15px;
  box-shadow: 1px 1px 2px #000;
  padding: 5px 20px;

  .container {
    flex-direction: column;

    h1 {
      font-family: TF2Build;
      margin-bottom: 20px;
      font-size: 1.5em;

      .fa-server {
        margin-right: 10px;
      }
    }
  }

  

  #reconntf-servers .server,
  #fff-servers .server {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: space-between;
    height: 50px;
  }
}

#reconntf-servers,
#fff-servers {
  width: 100%;
  margin-bottom: 10px;

  h2 {
    font-family: TF2Secondary;
    font-size: 1.2em;
    text-align: left;
    color: #7ef9ff;
    margin: 5px 0;

    a {
      color: #fff;
      font-size: .8em;
      text-decoration: underline;

      img {
        width: 20px;
        vertical-align: middle;
      }
    }
  }
}

.wrap-holiday {
  border-left: 8px solid gold;
}

.wrap-reconntf {
  border-left: 8px solid #6b8dc4;
}

.wrap-fff {
  border-left: 8px solid #c4996b;
}

#holiday-srv h3::before {
  @include square(70px);
  @include absolute(-33px, -50px, initial);
  content: "";
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../_img/palmtree.png");
}

#serveurs {
  .server {
    .server-title {
      justify-content: space-between;
      width: 365px;
      padding: 0 20px;

      h3 {
        font-family: TF2Build;
        font-size: 1em;
      }
      p {
        font-size: .8em;
        font-family: TF2Secondary;
      }
    }
    .server-connect {
      text-align: center;
      background: rgba(0, 0, 0, 0);
      transition: .3s;
      flex-direction: row-reverse;
    }

    .holiday:hover {
      background: #a1a43e21;
    }

    .vanilla:hover {
      background: #3e95a421;
    }

    .custom:hover {
      background: #a4733e21;
    }

    .server-connect {
      margin: 5px;
      a {
        @include tf2button(110px, 6px, 0, 1em, 4px);
        &:hover {
          color: #ECE3CB;
          background: linear-gradient(180deg, #9D4F3F, #70392D, #512A20) padding-box, linear-gradient(180deg, #DA9C77, #AD5444 10%, #572D22 90%, #2C1813 100%) border-box;
        }
        .fa-right-to-bracket {
          display: none;
        }
        span {
          font-family: TF2Build;
        }
      }
    }
  }
}

#serveurs {
  .serveurs-bg {
    @include absolute-0;
    height: 100%;
    overflow: hidden;
    width: 100%;
    z-index: -1;

    .character {
      padding-left: 50%;
      position: absolute;
      width: 285px;
      bottom: 0;
      z-index: 1;

      img {
        width: 100%;
      }
    }
  }
}