/****** SERVEURS *******/

#serveurs {
  width: 100%;
  background: linear-gradient(transparent, rgb(26, 35, 47));
  padding: 32px 0;
  box-sizing: border-box;

  .container {
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
  }

  h1 {
    font-family: TF2Secondary;
    width: 80%;
    margin: 0 auto 20px auto;
    color: #7ef9ff;
    font-size: 3em;
  }

  #reconntf-servers .server,
  #fff-servers .server {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: space-between;
    height: 40px;
  }
}

#reconntf-servers,
#fff-servers {
  width: 100%;
  margin-bottom: 10px;

  h2 {
    font-family: TF2Secondary;
    font-size: 1em;
    text-align: left;
    color: #7ef9ff;
    margin: 5px 130px;
  }
}

.wrap-holiday {
  border-left: 8px solid gold;
}

.wrap-vanilla {
  border-left: 8px solid #6b8dc4;
}

.wrap-custom {
  border-left: 8px solid #c4996b;
}

#holiday-srv h3::before {
  @include square(70px);
  @include absolute(-33px, -50px, initial);
  content: "";
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../_img/palmtree.png");
}

#serveurs {
  .server {
    .server-title {
      justify-content: space-between;
      width: 280px;
      padding: 0 20px;

      h3 {
        font-family: TF2Build;
        font-size: 1em;
      }
      p {
        font-size: .8em;
      }
    }
    .server-connect {
      text-align: center;
      background: rgba(0, 0, 0, 0);
      transition: .3s;
      flex-direction: row-reverse;
    }

    .holiday:hover {
      background: #a1a43e21;
    }

    .vanilla:hover {
      background: #3e95a421;
    }

    .custom:hover {
      background: #a4733e21;
    }

    .server-connect {
      a {
        font-weight: bold;
        padding: 10px 20px;
        transition: .4s;
      }
    }
  }
}

.link-holiday {
  color: gold;
}

.link-vanilla {
  color: #7ef9ff;
}

.link-custom {
  color: #ffc17e;
}

#serveurs {
  .serveurs-bg {
    @include absolute-0;
    height: 100%;
    overflow: hidden;
    width: 100%;
    box-shadow: inset 0px 0px 35px #000;
    z-index: -1;

    .character {
      padding-left: 65%;
      padding-top: 200px;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }
}