/****** SERVEURS *******/

#serveurs {
  width: 100%;
  min-height: 650px;
  background: linear-gradient(transparent, $server-gradient-bg);
  padding: 32px 0;
  box-sizing: border-box;

  .container {
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
  }

  h1 {
    font-family: TF2Secondary;
    width: 80%;
    margin: 0 auto 20px auto;
    color: $title-section-color;
    font-size: 3em;
  }

  #reconntf-servers .server,
  #fff-servers .server {
    width: 85%;
    min-height: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 15px;
    justify-content: space-between;
    z-index: 50;
  }
  #reconntf-servers .server {
    cursor: pointer;
  }
  #fff-servers.servers {
    cursor: default;
  }
}

#reconntf-servers,
#fff-servers {
  width: 100%;

  h2 {
    font-family: TF2Secondary;
    font-size: 1.3em;
    text-align: center;
    color: $title-section-color;
  }
}

.wrap-holiday {
  border: 1px solid gold;
}

.wrap-vanilla {
  border: 1px solid #6b8dc4;
}

.wrap-custom {
  border: 1px solid #c4996b;
}

#serveurs .container .server .server-title {
  text-align: center;

  .fa-chevron-right {
    margin: 0 15px;
  }
}

.srv-holiday {
  border: 1px solid gold;
}

#holiday-srv h3::before, #holiday2-srv h3::before {
  @include square(50px);
  @include absolute(-15px, -45px, initial);
  content: "";
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../_img/pumpkin.webp");
}

.srv-vanilla {
  border: 1px solid #2eebff;
}

.srv-custom {
  border: 1px solid #ff7c2e;
}

#serveurs .container .server .server-title h3 {
  font-family: TF2Build;
  font-size: 1.5em;
  margin: 0 25px;
}

#holiday-feat, #holiday-feat2, #vanilla-feat, #custom-feat, #mvm-feat, #tfdb-feat {
  display: none;
}

#serveurs {
  .server-features {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: -16px;
    width: 75%;
    padding: 5px 25px;
    box-sizing: border-box;

    ul {
      list-style: inside;
      padding: 0;
    }

    li {
      margin: 10px auto;
    }
  }

  .server {
    .server-connect {
      text-align: center;
      background: rgba(0, 0, 0, 0);
      width: 200px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      transition: .3s;
      flex-direction: row-reverse;
    }

    .holiday:hover {
      background: #a1a43e21;
    }

    .vanilla:hover {
      background: #3e95a421;
    }

    .custom:hover {
      background: #a4733e21;
    }

    .server-connect {
      img {
        @include square(35px);
        @include absolute(3px, 0, initial);
        opacity: .2;
        transition: .4s;
      }

      a {
        font-weight: bold;
        padding: 10px 20px;
        transition: .4s;
      }
    }
  }
}

.link-holiday {
  color: gold;
}

.link-vanilla {
  color: #7ef9ff;
}

.link-custom {
  color: #ffc17e;
}

#serveurs {
  .container .server .server-connect a:hover img {
    left: -20px;
    transform: rotate(180deg);
    opacity: .8;
  }

  .serveurs-bg {
    @include absolute-0;
    height: 100%;
    overflow: hidden;
    width: 100%;
    box-shadow: inset 0px 0px 35px #000;
    z-index: -1;

    .character {
      padding-left: 65%;
      padding-top: 200px;
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    .bg {
      background-image: url("../_img/halloween-bg8.webp");
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: .4;
      height: 100%;
      width: 100%;
    }
  }
}