#side-links {
    background: #1c1a19;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #000;
    min-height: 200px;
    padding: 10px;
    margin: 20px 15px 0 15px;

    h2 {
        margin: 5px auto 25px auto;
        text-align: center;
        font-size: 1.5em;
        font-family: TF2Build;
    }
    hr {
        border: none;
        background: #bbb;
        height: 2px;
        margin: 35px auto 15px auto;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            a {
                @include tf2button(unset, 12px, 20px, 1.3em, 8px);
                display: block;
                box-sizing: border-box;
                margin: 10px 20px;
                &:hover {
                    color: #ECE3CB;
                    background: linear-gradient(180deg, #9D4F3F, #70392D, #512A20) padding-box, linear-gradient(180deg, #DA9C77, #AD5444 10%, #572D22 90%, #2C1813 100%) border-box;
                }
            }
        }
    }
}

#side-social-links {
    background: #1c1a19;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #000;
    min-height: 200px;
    padding: 10px;
    margin: 20px 15px 0 15px;

    h2 {
        margin: 5px auto 25px auto;
        text-align: center;
        font-size: 1.5em;
        font-family: TF2Build;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            a {
                @include tf2button(unset, 12px, 20px, 1.3em, 8px);
                display: block;
                box-sizing: border-box;
                margin: 10px 20px;
                &:hover {
                    color: #ECE3CB;
                    background: linear-gradient(180deg, #9D4F3F, #70392D, #512A20) padding-box, linear-gradient(180deg, #DA9C77, #AD5444 10%, #572D22 90%, #2C1813 100%) border-box;
                }
            }
        }
    }
}