#box-stream {
    background: #1c1a19;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #000;
    min-height: 200px;
    padding-top: 10px;
    margin: -60px 15px 0 15px;
    &::before {
        content: "";
        background-image: url("../_img/Scout_Director_shadow.webp");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: -130px;
        left: 10px;
        width: 360px;
        height: 360px;
        z-index: -1;
    }

    h1 {
        margin: 5px auto 10px auto;
        text-align: center;
        font-size: 1.5em;
        font-family: TF2Build;

        .fa-tv {
            margin-right: 10px;
        }
    }

    #streams {
        padding-bottom: 10px;
        text-align: center;
        min-height: 100px;

        .tabs {
            display: flex;
            gap: 10px;
            margin-bottom: 10px;

            .tab-button {
                @include tf2button(unset, 7px, 10px, .9em, 4px);
                margin: 5px 10px;
                cursor: pointer;
                &:hover {
                    color: #ECE3CB;
                    background: linear-gradient(180deg, #9D4F3F, #70392D, #512A20) padding-box, linear-gradient(180deg, #DA9C77, #AD5444 10%, #572D22 90%, #2C1813 100%) border-box;
                }
                &.active {
                    background: #fff;
                    color: #000;
                    border-bottom: 2px solid #37b4ff;
                }
            }
        }

        .stream-tab {
        display: none;

            &.active {
                display: block;
            }
        }

        #streams-all, #streams-fr, #streams-yt {
        max-height: 230px;
        overflow-y: scroll;
        padding: 0 8px;

            .loading {
                @include square(30px);
                margin: 10px auto;
            }

            .stream_line {
                @include rectangle(100%, 50px);
                font-size: 0.7em;
                text-align: left;
                padding: 6px 8px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #333;
                margin: 3px 0;
                &:hover {
                    background-color: #444;
                }

                .stream-link {
                    width: 100%;

                    .stream-info {
                        font-family: TF2Secondary;
                        text-overflow: ellipsis;
                        float: left;
                        overflow: hidden;
                        white-space: nowrap;
                        width: 90%;
                        color: #fff;
                        font-size: 1.2em;

                        .stream-thumb {
                            width: 75px;
                            height: auto;
                            object-fit: cover;
                            margin-right: 10px;
                        }

                        .streamer-name {
                            font-family: TF2Build;
                            margin-right: 5px;
                            color: #fff;
                        }

                        .stream-title {
                            font-family: TF2Secondary;
                            font-size: .9em;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }

                    .viewercount {
                        float: right;
                        color: #fff;
                        font-family: TF2Build;
                        font-size: 1.5em;
                        position: absolute;
                        right: 0;
                    }
                }
            }
        }
    }
}

.no-stream {
    font-family: TF2Secondary;
    font-size: 1.1em;
    text-align: center;
    color: #fff;

    button {
        font-family: TF2Build;
        margin: 10px auto;
    }
}