a {
  color: #00bad9;
}

#privacy-policy {
  #content {
  width: 90%;
  background-color: #1c1a19;
  border-radius: 3px;
  margin: 15px auto;
  padding: 20px 30px 100px 30px;
  box-shadow: 1px 1px 2px #000;
  box-sizing: border-box;
  }

  h1 {
    font-family: TF2Build;
    font-size: 2.5em;
    color: #f6f4f2;
    margin-top: 20px;
  }
  h2 {
    font-family: TF2Secondary;
    font-size: 1.8em;
    color: #7ef9ff;
    margin-top: 30px;
  }
  p, li {
    font-family: TF2Secondary;
    font-size: 1.1em;
    line-height: 1.6;
    color: #f6f4f2;
    font-weight: bold;
  }
}

@media all and (max-width: 555px) {
  #privacy-policy {
    width: 100%;

    #content {
      width: 100%;
    }
  }
}
