/*
======================================================================================

    @ main.css
    @ STYLESHEET
    @ CSS by Lucas LAPLANCHE - https://lucaslaplanche.fr/

======================================================================================
*/

/* FONTS */

@font-face {
  font-family: 'TF2';
  src: url('../_fonts/TF2.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TF2Build';
  src: url('../_fonts/TF2Build.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TF2Professor';
  src: url('../_fonts/TF2Professor.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TF2Secondary';
  src: url('../_fonts/TF2Secondary.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* DEFAULTS */

* {
  font-family: Ebrima, Helvetica, Arial, sans-serif;
  position: relative;

  &:focus {
    outline-style: none;
  }
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

/** a{text-decoration:none;color:inherit;cursor:pointer;}**/

p {
  font-size: 1.1em;
}

ol, ul {
  list-style: disclosure-closed;
}

strong {
  color: #46b2c0;
}

.clear {
  clear: both;
}

.clear-right {
  clear: right;
}

.clear-left {
  clear: left;
}

/* :: pseudo elements */

/* KEYFRAMES */

/********** PACK **********/

/* TRANSITIONS */

/* USER-SELECT */

a, img {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

/* FLEX */

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

/********** * **********/

html {
  width: 100%;
  height: 100%;
  background: #262626;
  color: #f6f4f2;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden !important;
  background-position: bottom;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

b {
  color: #5abccc;
}

/********* NAVIGATION BAR *************/

nav {
  margin: 0 auto;
  left: 15px;
  right: 15px;
  top: 10px;
  height: 70px;
  background: #2a4a5e;
  position: fixed;
  z-index: 999;
  box-shadow: 0px 0px 15px #00000061;
  border-radius: 10px;
  transition: .4s;

  ul {
    list-style: none;
  }

  .nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #1d3851;

    a {
      width: 80px;
      height: 70px;
    }

    img {
      width: 60px;
      padding: 5px 10px;
    }
  }

  .nav-links {
    margin-left: -435px;

    li {
      margin: 0 35px;

      &::before {
        content: "";
        position: absolute;
        width: 80px;
        height: 3px;
        background: #9cd1ff;
        left: 50%;
        top: 43px;
        transform: translateX(-50%) translateY(-50%);
        opacity: 0;
        transition: .3s;
      }

      &:hover::before {
        opacity: 1;
      }
    }

    .link-sban:hover::before {
      background: #ff9c9c;
      opacity: 1;
    }

    li a {
      color: #fff;
      font-weight: bold;
    }
  }

  .nav-socials li a {
    color: #fff;
    font-weight: bold;
  }

  .nav-links .link-sban img {
    width: 20px;
    top: 4px;
  }

  .nav-socials {
    margin: 0 30px;

    li {
      margin: 0 5px;

      .nav-twitter {
        background: #111;
        padding: 15px 35px;
        border-radius: 7px;
        font-size: 1.1em;
        transition: .3s;

        &:hover {
          background: #464646;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
      }

      .nav-discord {
        background: #5c87b5;
        padding: 15px 35px;
        border-radius: 7px;
        font-size: 1.1em;
        transition: .3s;

        &:hover {
          background: #81b5ec;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

.bbq-overlay {
  position: fixed;
  z-index: 990;
  top: 25px;
  left: 15px;
  right: 15px;
  min-height: 50px;
  background-color: gold;
  color: #000;
  margin: 0 auto;
  padding: 0 32px;
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: .3s;
}

nav:hover + .bbq-overlay, .bbq-overlay:hover {
  top: 75px;
}

.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

/********* HEADER ***********/

header {
  width: 100%;
  min-height: 980px;
  background-color: rgba(0, 0, 0, 0.25);
}

.main {
  width: 85%;
  min-height: 500px;
  margin: 0 auto;
  padding: 150px 0 45px 0;

  .logo-title {
    img {
      width: 200px;
      margin: 0 auto;
      display: block;
    }

    h1 {
      font-family: TF2Secondary;
      font-size: 3.9em;
      text-shadow: -2px -2px 0 #373737, 2px -2px 0 #373737, -2px 2px 0 #373737, 2px 2px 0 #373737;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin: 0 auto;
      text-align: center;
    }

    h2 {
      font-family: TF2Secondary;
      font-size: 1.8em;
      color: #f0f0f0;
      text-align: center;
    }

    a {
      font-family: TF2Secondary;
      display: inherit;
      color: #fff;
      background: #00c3ff;
      padding: 16px 30px;
      border-radius: 11px;
      width: 300px;
      margin: 0 auto;
      text-align: center;
      font-size: 1.25em;
      font-weight: bold;
      box-shadow: 0px 0px 15px #00000061;
      transition: .4s;

      &:hover {
        background: #0082aa;
        transform: scale(0.99);
      }
    }
  }
}

.side-info {
  margin: 0 10px;
}

#box-stream {
  background: rgba(0, 0, 0, 0.35);
  width: 285px;
  min-height: 100px;
  padding-top: 5px;
  border-radius: 15px;

  h1 {
    margin: 5px auto 10px auto;
    text-align: center;
    font-size: 1.4em;
  }

  #streams {
    background: #fff;
    padding: 10px 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

.no-stream {
  font-size: 0.9em;
  text-align: center;
  color: #000;
}

#streams {
  text-align: center;
  min-height: 100px;
}

.loading {
  margin: 10px auto;
  width: 30px;
  height: 30px;
}

.stream_line {
  width: 100%;
  height: 30px;
  font-size: 0.7em;
  text-align: left;
  padding: 6px 8px;
  box-sizing: border-box;
}

/**.stream-link {

}**/

.streamer-name {
  margin-right: 5px;
  color: #000;
}

.stream-title {
  font-family: TF2Secondary;
  text-overflow: ellipsis;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  width: 240px;
  color: gray;
}

.viewercount {
  float: right;
  color: gray;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.tab-button {
  font-family: TF2Build;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background: #ddd;
  border-radius: 4px;

  &.active {
    background: #fff;
    color: #000;
    border-bottom: 2px solid #37b4ff;
  }
}

.stream-tab {
  display: none;

  &.active {
    display: block;
  }
}

.news_home {
  width: 100%;
  padding-bottom: 35px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);

  .container {
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;

    h2 {
      font-family: TF2Build;
      letter-spacing: 0.05em;
      color: #bbe9ff;
    }

    a {
      color: #5abccc;
    }
  }

  .news-list {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 35px;
    flex-wrap: wrap;

    a {
      margin: 5px 10px;
    }

    .news {
      width: 325px;
      height: 205px;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.4);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0 10px;
      margin: 10px auto;
      box-sizing: border-box;
      z-index: 10;

      &:hover > .news-img {
        filter: brightness(0.8);
      }

      span {
        color: lightgray;
        font-size: .9em;
      }

      p {
        font-weight: bold;
        color: #e6e6e6;
        text-shadow: 3px 3px 3px #000;
      }

      .news-img {
        position: absolute;
        width: 100%;
        z-index: -1;
        filter: brightness(0.3);
        top: 0;
        left: 0;
        border-radius: 10px;
        transition: .3s;
      }
    }
  }
}

.mod {
  border: 2px solid #315e31;
}

.commu {
  border: 2px solid #4a779f;
}

.offi {
  border: 2px solid orange;
}

.news_home .news-all {
  font-family: TF2Secondary;
  display: inherit;
  color: #fff;
  background: #00c3ff;
  padding: 16px 0;
  border-radius: 11px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  box-shadow: 0px 0px 15px #00000061;
  transition: .4s;

  &:hover {
    background: #0082aa;
    transform: scale(0.99);
  }
}

.header_background {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &::before {
    background: linear-gradient(rgba(0, 0, 0, 0.25), #060e17c9);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

/****** PRESENTATION *******/

#presentation {
  width: 100%;
  min-height: 650px;
  padding: 32px 0;
  box-sizing: border-box;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: -165px;
    left: -260px;
    width: 1000px;
    height: 1000px;
    background-image: url('../_img/favicon2.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
  }

  .container {
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  h2 {
    font-family: TF2Secondary;
    margin: 0;
    color: #7ef9ff;
    font-size: 3em;
  }

  .text-pres {
    width: 750px;

    p {
      text-align: justify;
    }

    li {
      margin: 5px 0;
    }
  }

  .img-pres {
    padding: 10px;

    img {
      width: 630px;
      box-shadow: 0px 0px 15px #00000061;
      margin: 10px;
      width: 630px;
      box-shadow: 0px 0px 15px #00000061;
      margin: 10px;
    }
  }

  .pres-bg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    &::before {
      background: linear-gradient(rgba(0, 0, 0, 0.25), #0a1d33c9);
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }
}

/** #presentation .text-pres h3 {

} **/

/** #presentation .img-pres iframe {
    
} **/

/****** SERVEURS *******/

#serveurs {
  width: 100%;
  min-height: 650px;
  background: linear-gradient(transparent, rgb(26, 35, 47));
  padding: 32px 0;
  box-sizing: border-box;

  .container {
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
  }

  h1 {
    font-family: TF2Secondary;
    width: 80%;
    margin: 0 auto 20px auto;
    color: #7ef9ff;
    font-size: 3em;
  }

  #reconntf-servers .server,
  #fff-servers .server {
    width: 85%;
    min-height: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 15px;
    justify-content: space-between;
    z-index: 50;
  }
  #reconntf-servers .server {
    cursor: pointer;
  }
  #fff-servers.servers {
    cursor: default;
  }
}

#reconntf-servers,
#fff-servers {
  width: 100%;

  h2 {
    font-family: TF2Secondary;
    font-size: 1.3em;
    text-align: center;
    color: #7ef9ff;
  }
}

.wrap-holiday {
  border: 1px solid gold;
}

.wrap-vanilla {
  border: 1px solid #6b8dc4;
}

.wrap-custom {
  border: 1px solid #c4996b;
}

#serveurs .container .server .server-title {
  text-align: center;

  .fa-chevron-right {
    margin: 0 15px;
  }
}

.srv-holiday {
  border: 1px solid gold;
}

#holiday-srv h3::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../_img/palmtree.png");
  top: -33px;
  left: -50px;
  width: 70px;
  height: 70px;
}

.srv-vanilla {
  border: 1px solid #2eebff;
}

.srv-custom {
  border: 1px solid #ff7c2e;
}

#serveurs .container .server .server-title h3 {
  font-family: TF2Build;
  font-size: 1.5em;
  margin: 0 25px;
}

#holiday-feat, #vanilla-feat, #custom-feat, #mvm-feat, #tfdb-feat {
  display: none;
}

#serveurs {
  .server-features {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: -16px;
    width: 75%;
    padding: 5px 25px;
    box-sizing: border-box;

    ul {
      list-style: inside;
      padding: 0;
    }

    li {
      margin: 10px auto;
    }
  }

  .server {
    .server-connect {
      text-align: center;
      background: rgba(0, 0, 0, 0);
      width: 200px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      transition: .3s;
      flex-direction: row-reverse;
    }

    .holiday:hover {
      background: #a1a43e21;
    }

    .vanilla:hover {
      background: #3e95a421;
    }

    .custom:hover {
      background: #a4733e21;
    }

    .server-connect {
      img {
        width: 35px;
        height: 35px;
        position: absolute;
        left: 0;
        top: 3px;
        opacity: .2;
        transition: .4s;
      }

      a {
        font-weight: bold;
        padding: 10px 20px;
        transition: .4s;
      }
    }
  }
}

.link-holiday {
  color: gold;
}

.link-vanilla {
  color: #7ef9ff;
}

.link-custom {
  color: #ffc17e;
}

#serveurs {
  .container .server .server-connect a:hover img {
    left: -20px;
    transform: rotate(180deg);
    opacity: .8;
  }

  .serveurs-bg {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    box-shadow: inset 0px 0px 35px #000;
    z-index: -1;

    .character {
      display: flex;
      justify-content: center;
      padding-left: 65%;
      padding-top: 200px;
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    .bg {
      background-image: url("../_img/gorgeblog_cap2.webp");
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: .4;
      height: 100%;
      width: 100%;
    }
  }
}

/******* PARTNERS *******/

#partners {
  padding: 15px 0 25px 0;
  text-align: center;
  background-color: #051e33;

  #commu-partners {

    h1 {
      font-family: TF2Secondary;
      font-size: 2em;
      margin: 0 auto 35px auto;
    }

    .container {
      text-align: center;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }

    a:hover img {
      filter: saturate(1);
    }

    .commu-box {
      margin: 0 25px;

      img {
        width: 70px;
        border-radius: 9999px;
        filter: saturate(0);
        transition: .2s;
      }

      h3 {
        font-family: TF2Secondary;
        margin: 5px 0;
        color: #f6f4f2;
      }
    }
  }

  #creator-partners {
    h2 {
      font-family: TF2Secondary;
      font-size: 1.7em;
      margin: 0 auto 15px auto;
    }

    .container {
      text-align: center;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    a:hover img {
      filter: saturate(1);
    }

    .creator-box {
      margin: 0 25px;

      img {
        width: 50px;
        border-radius: 9999px;
        filter: saturate(0);
        transition: .2s;
      }

      h3 {
        font-family: TF2Secondary;
        margin: 5px 0;
        color: #f6f4f2;
      }
      p {
        color: #f6f4f2;
        font-size: 0.8em;
        margin: 0;
      }
    }
  }
}

/******* FOOTER **********/

footer {
  width: 100%;
  background: linear-gradient(rgb(79, 139, 213), rgba(98, 98, 98, 0.67));
  overflow: hidden;
  position: relative;
  z-index: 100;

  #foot-socials {
    text-align: center;
    margin: 120px auto;
    width: 80%;

    h1 {
      font-family: TF2Secondary;
      font-size: 2.5em;
    }

    a {
      background: #33496c;
      color: #fff;
      display: inline-flex;
      width: 60px;
      height: 60px;
      justify-content: center;
      align-items: center;
      border-radius: 13px;
      transition: .3s;

      &:hover {
        background: #6387c1;
      }
    }
  }

  #copyright {
    background-color: #2a4a5e;
    font-size: .9em;
    margin: 0 auto;
    width: 100%;
    padding: 40px 0 20px 0;

    .foot-links h4 {
      font-family: TF2Secondary;
      color: #bbe9ff;
      margin: 0 0 10px 0;
    }

    a {
      color: #bcddff;
    }

    .foot-links {
      margin: 0 20px;
    }

    .copyright {
      margin: 10px 0;
      text-align: center;
    }
  }

  .foot-bg {
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: .2;
    top: 0;
    z-index: -1;
    height: 100%;
    position: absolute;
    width: 100%;
  }
}