/*
======================================================================================

    @ main.css
    @ STYLESHEET
    @ CSS by Lucas LAPLANCHE - https://lucaslaplanche.fr/

======================================================================================
*/

@import 'mixins';
@import 'fonts';
@import 'defaults';
@import 'nav';
@import 'header';
@import 'streams';
@import 'presentation';
@import 'serveurs';
@import 'partners';
@import 'footer';

/********** * **********/

html {
  width: 100%;
  height: 100%;
  background: #000;
  color: #f6f4f2;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  background-position: bottom;
  background-attachment: fixed;
}

#left-content, #right-content {
  width: 50%;
}
#right-content {
  margin-top: 25px;
}

a {
  text-decoration: none;
}

b {
  color: #5abccc;
}