/*
======================================================================================

    @ main.css
    @ STYLESHEET
    @ CSS by Lucas LAPLANCHE - https://lucaslaplanche.fr/

======================================================================================
*/

@import 'mixins';
@import 'fonts';
@import 'defaults';
@import 'nav';
@import 'header';
@import 'streams';
@import 'presentation';
@import 'serveurs';
@import 'partners';
@import 'footer';

/********** * **********/

html {
  width: 100%;
  height: 100%;
  background: #080b13;
  color: #f6f4f2;
  scroll-behavior: smooth;

  body {
    width: 100%;
    height: 100%;
    background-position: bottom;
    background-attachment: fixed;
    overflow: hidden;

    main {
      width: 1450px;
      margin: 0 auto;
      min-height: 100%;

      #left-content, #right-content {
        width: 50%;
      }
      #right-content {
        margin-top: 25px;
      }
    }
  }
}