/*
======================================================================================

    @ main.css
    @ STYLESHEET
    @ CSS by Lucas LAPLANCHE - https://lucaslaplanche.fr/

======================================================================================
*/

/********* MAIN *********/

@media all and (max-width: 1450px) {
  html body main {
    width: 100%;
  }
}

@media all and (max-width: 1200px) {
  html body {
    overflow-x: unset;
  }
}

@media all and (max-width: 1050px) {
  html body main {
    flex-direction: column;

    #left-content,
    #right-content {
      width: 100%;
    }

    #right-content {
      margin-top: unset;
    }
  }
}

/********* HEADER ***********/

@media all and (max-width: 1100px) {
  .hero {
    display: block;
  }

  .side-info {
    margin: 25px 10px;
  }

  #box-stream {
    width: 85%;
    margin: 0 auto;
  }

  #streams {
    display: block;
  }

  .stream-title, .news_home .container {
    width: 90%;
  }
}

@media all and (max-width: 726px) {
  .hero {
    width: 95%;

    .logo-title {
      h1 {
        font-size: 2.9em;
      }

      h2 {
        font-size: 1.4em;
      }
    }
  }
}

@media all and (max-width: 490px) {
  .hero .logo-title {
    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1.2em;
    }

    a {
      width: 160px;
    }
  }

  .news_home .news-list {
    width: 95%;
  }
}

@media all and (max-width: 445px) {
  .news_home {
    .news-list .news {
      width: 270px;
      height: 170px;
    }

    .news-all {
      width: 250px;
    }
  }
}

/****** PRESENTATION *******/

@media all and (max-width: 810px) {
  #presentation .img-pres img {
    width: 100%;
  }
}

@media all and (max-width: 420px) {
  #presentation h1 {
    font-size: 2.5em;
  }
}

/****** SERVEURS *******/

@media all and (max-width: 1050px) {
  #serveurs {
    margin: 15px auto 60px auto;
  }
}

@media all and (max-width: 530px) {
  #serveurs .container .server {
    flex-direction: column;
    width: 100%;

    .fa-chevron-right {
      display: none;
    }

    .server-title {
      flex-direction: column;

      h3 {
        margin: 10px auto;
      }
      p {
        margin: 0;
      }
    }

    .server-connect {
      flex-direction: unset;
      justify-content: center;
      width: 100%;
      border-top-right-radius: 0;
      border-bottom-left-radius: 10px;
    }
  }
}

/****** PARTNERS ******/

@media all and (max-width: 631px) {
  #partners .commu-box {
    margin: 15px 25px;
  }
}

/****** FOOTER *******/

@media all and (max-width: 1050px) {
  footer {
    position: fixed;
  }
}

@media all and (max-width: 650px) {
  footer #copyright {
    .container {
      flex-direction: column;
      text-align: center;
    }

    .foot-links {
      margin: 0 0 20px 0;
    }
  }
}