/*
======================================================================================

    @ main.css
    @ STYLESHEET
    @ CSS by Lucas LAPLANCHE - https://lucaslaplanche.fr/

======================================================================================
*/

/********* MAIN *********/

@media all and (max-width: 1250px) {
  html body main {
    width: 95%;
  }
}

@media all and (max-width: 1150px) {
  body {
    overflow: scroll !important;
  }
  html body main {
    flex-direction: column;

    #left-content,
    #right-content {
      width: 100%;
    }

    #right-content {
      margin-top: unset;
    }
  }
}

/********* HEADER ***********/

@media all and (max-width: 1100px) {
  .hero {
    display: block;
  }

  .side-info {
    margin: 25px 10px;
  }

  #box-stream {
    width: 90%;
    margin: 0 auto;
  }

  #streams {
    display: block;
  }

  .stream-title, .news_home .container {
    width: 90%;
  }
}

@media all and (max-width: 726px) {
  .news_home .news-list .news p.titre-news {
    font-size: .9em;
  }
}

@media all and (max-width: 550px) {
  .hero {
    width: 100%;
  }
  .hero .logo-title h2 {
    width: 90%;
  }
  .hero .logo-title #hero-cta {
    width: 80%;
  }
  .news_home .news-list .news .news-img {
    display: none;
  }
}

/****** SERVEURS *******/

@media all and (max-width: 1050px) {
  #serveurs {
    margin: 15px auto 20px auto;
  }
}

@media all and  (max-width: 550px) {
  #serveurs .server .server-title {
    padding: 0 7px;

    h3 {
      font-size: .9em;
    }
  }

  #serveurs .server .server-connect a {
    width: 35px;
      .fa-right-to-bracket {
        display: block;
        margin: 0 auto;
      }
      span {
        display: none;
      }
  }
}

@media all and (max-width: 430px) {
  #serveurs .server {

    .server-title {
      flex-direction: column;
      justify-content: center;

      h3, p {
        margin: 0;
      }
    }

    .server-connect a {
      width: 50px;
    }
  }
}

/****** PARTNERS ******/

@media all and (max-width: 550px) {
  #partners {
    flex-direction: column;

    #commu-partners, #creator-partners {
      margin: 0 auto;
    }
    #creator-partners .container .cta-partner {
      margin: 15px auto;
    }
    #creator-partners .container .creator-link {
      margin: 0 auto;
    }
  }
}

/****** FOOTER *******/

@media all and (max-width: 1150px) {
  footer {
    position: inherit;
  }
}

@media all and (max-width: 860px) {
  footer {
    position: inherit;

    #copyright {
      padding-top: 10px;

      .foot-links a {
        text-align: center;
      }

      .container {
        flex-direction: column;
      }
    }
  }
}

@media all and (max-width: 410px) {
  footer #copyright .foot-links a {
    margin: 0 5px;
    font-size: .9em;
  }
}